eye-slash, eye-regular, edit-square, edit-pencil, new-tab, save-cloud {
    height: 2rem;
    width: 2rem;
    display: block;
    margin-bottom: 1rem;
}

.icons-demo {
    display: flex;
    gap: 1rem;

    &>div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
